In [2]:
import pandas as pd

In [12]:
def subarraySum(arr,N,S):
    sum = 0
    for i in range(N):
        if sum < S:
            sum += arr[i]
        else:
            break
    return arr[0],arr[i-1]

In [13]:
arr = (1,2,3,4,5,6,7,8,9,10)
subarraySum(arr,10,15)

(1, 5)

In [14]:
arr = (1,2,3,7,5)
subarraySum(arr,5,12)

(1, 7)

In [18]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [30]:
ser = pd.Series(mydict)
type(ser)
df = ser.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [33]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

comb = pd.concat((ser1,ser2),axis=1)
comb

   0  1
0  1  4
1  2  5
2  3  6
3  4  7
4  5  8

In [34]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [35]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

ser.value_counts()

d    8
h    5
c    4
g    4
f    3
a    3
b    2
e    1
Name: count, dtype: int64

In [36]:
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     2
1     4
2     1
3     4
4     3
5     4
6     2
7     3
8     3
9     2
10    3
11    4
dtype: int32

In [37]:
np.argwhere(ser % 3==0)

array([[ 4],
       [ 7],
       [ 8],
       [10]], dtype=int64)

In [38]:
# Input
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

# Solution
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [40]:
# Input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Output
# Vertical
df = pd.concat([ser1, ser2], axis=0)
print(df)

# Horizontal
df1 = pd.concat([ser1, ser2], axis=1)
print(df1)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [42]:
# Input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [43]:

# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [44]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution 1
ser.map(lambda x: x.title())

# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])

# Solution 3
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [55]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution 1
from dateutil.parser import parse
ser = ser.map(lambda x: parse(x))

In [59]:
print("Date: ", ser.dt.day.tolist())
print("Date: ", ser.dt.day_of_week.tolist())
print("Date: ", ser.dt.dayofyear.tolist())
print("Date: ", ser.dt.year.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Date:  [4, 2, 5, 3, 0, 5]
Date:  [1, 33, 63, 94, 125, 157]
Date:  [2010, 2011, 2012, 2013, 2014, 2015]

In [64]:
ser.dt.year.astype(str)+'-'+ser.dt.month.astype(str)+'-'+'04'

0    2010-1-04
1    2011-2-04
2    2012-3-04
3    2013-4-04
4    2014-5-04
5    2015-6-04
dtype: object

In [65]:
# Input
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

# Solution
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

In [66]:
# Input
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

# Solution 1 (as series of strings)
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
emails[mask]

# Solution 2 (as series of list)
emails.str.findall(pattern, flags=re.IGNORECASE)

# Solution 3 (as list)
[x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

In [67]:
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')

# Bin petallength 
petal_length_bin = np.digitize(iris[:, 2].astype('float'), [0, 3, 5, 10])

# Map it to respective category
label_map = {1: 'small', 2: 'medium', 3: 'large', 4: np.nan}
petal_length_cat = [label_map[x] for x in petal_length_bin]

# View
petal_length_cat[:4]

['small', 'small', 'small', 'small']

In [71]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='object')

# Solution
# Compute volume
sepallength = iris_2d[:, 0].astype('float')
petallength = iris_2d[:, 2].astype('float')
volume = (np.pi*(petallength)*(sepallength**2))/3
volume = volume[:, np.newaxis]
out = np.hstack([iris_2d,volume])
out

array([[b'5.1', b'3.5', b'1.4', b'0.2', b'Iris-setosa',
        38.13265162927291],
       [b'4.9', b'3.0', b'1.4', b'0.2', b'Iris-setosa',
        35.200498485922445],
       [b'4.7', b'3.2', b'1.3', b'0.2', b'Iris-setosa', 30.0723720777127],
       [b'4.6', b'3.1', b'1.5', b'0.2', b'Iris-setosa',
        33.238050274980004],
       [b'5.0', b'3.6', b'1.4', b'0.2', b'Iris-setosa',
        36.65191429188092],
       [b'5.4', b'3.9', b'1.7', b'0.4', b'Iris-setosa',
        51.911677007917746],
       [b'4.6', b'3.4', b'1.4', b'0.3', b'Iris-setosa',
        31.022180256648003],
       [b'5.0', b'3.4', b'1.5', b'0.2', b'Iris-setosa',
        39.269908169872416],
       [b'4.4', b'2.9', b'1.4', b'0.2', b'Iris-setosa',
        28.38324242763259],
       [b'4.9', b'3.1', b'1.5', b'0.1', b'Iris-setosa',
        37.714819806345474],
       [b'5.4', b'3.7', b'1.5', b'0.2', b'Iris-setosa',
        45.80442088933919],
       [b'4.8', b'3.4', b'1.6', b'0.2', b'Iris-setosa',
        38.60389052731138],
       [b'4.8', b'3.0', b'1.4', b'0.1', b'Iris-setosa',
        33.77840421139745],
       [b'4.3', b'3.0', b'1.1', b'0.1', b'Iris-setosa',
        21.298950993787603],
       [b'5.8', b'4.0', b'1.2', b'0.2', b'Iris-setosa',
        42.273270746704256],
       [b'5.7', b'4.4', b'1.5', b'0.4', b'Iris-setosa',
        51.03517265756619],
       [b'5.4', b'3.9', b'1.3', b'0.4', b'Iris-setosa',
        39.69716477076063],
       [b'5.1', b'3.5', b'1.4', b'0.3', b'Iris-setosa',
        38.13265162927291],
       [b'5.7', b'3.8', b'1.7', b'0.3', b'Iris-setosa',
        57.83986234524169],
       [b'5.1', b'3.8', b'1.5', b'0.3', b'Iris-setosa',
        40.85641245993526],
       [b'5.4', b'3.4', b'1.7', b'0.2', b'Iris-setosa',
        51.911677007917746],
       [b'5.1', b'3.7', b'1.5', b'0.4', b'Iris-setosa',
        40.85641245993526],
       [b'4.6', b'3.6', b'1.0', b'0.2', b'Iris-setosa',
        22.158700183320004],
       [b'5.1', b'3.3', b'1.7', b'0.5', b'Iris-setosa',
        46.303934121259964],
       [b'4.8', b'3.4', b'1.9', b'0.2', b'Iris-setosa',
        45.84212000118226],
       [b'5.0', b'3.0', b'1.6', b'0.2', b'Iris-setosa',
        41.88790204786391],
       [b'5.0', b'3.4', b'1.6', b'0.4', b'Iris-setosa',
        41.88790204786391],
       [b'5.2', b'3.5', b'1.5', b'0.2', b'Iris-setosa',
        42.47433267653401],
       [b'5.2', b'3.4', b'1.4', b'0.2', b'Iris-setosa', 39.6427104980984],
       [b'4.7', b'3.2', b'1.6', b'0.2', b'Iris-setosa',
        37.01215024949256],
       [b'4.8', b'3.1', b'1.6', b'0.2', b'Iris-setosa',
        38.60389052731138],
       [b'5.4', b'3.4', b'1.5', b'0.4', b'Iris-setosa',
        45.80442088933919],
       [b'5.2', b'4.1', b'1.5', b'0.1', b'Iris-setosa',
        42.47433267653401],
       [b'5.5', b'4.2', b'1.4', b'0.2', b'Iris-setosa',
        44.34881629317591],
       [b'4.9', b'3.1', b'1.5', b'0.1', b'Iris-setosa',
        37.714819806345474],
       [b'5.0', b'3.2', b'1.2', b'0.2', b'Iris-setosa',
        31.415926535897928],
       [b'5.5', b'3.5', b'1.3', b'0.2', b'Iris-setosa',
        41.18104370080621],
       [b'4.9', b'3.1', b'1.5', b'0.1', b'Iris-setosa',
        37.714819806345474],
       [b'4.4', b'3.0', b'1.3', b'0.2', b'Iris-setosa',
        26.355867968515977],
       [b'5.1', b'3.4', b'1.5', b'0.2', b'Iris-setosa',
        40.85641245993526],
       [b'5.0', b'3.5', b'1.3', b'0.3', b'Iris-setosa',
        34.033920413889426],
       [b'4.5', b'2.3', b'1.3', b'0.3', b'Iris-setosa',
        27.567475535250434],
       [b'4.4', b'3.2', b'1.3', b'0.2', b'Iris-setosa',
        26.355867968515977],
       [b'5.0', b'3.5', b'1.6', b'0.6', b'Iris-setosa',
        41.88790204786391],
       [b'5.1', b'3.8', b'1.9', b'0.4', b'Iris-setosa',
        51.75145578258466],
       [b'4.8', b'3.0', b'1.4', b'0.3', b'Iris-setosa',
        33.77840421139745],
       [b'5.1', b'3.8', b'1.6', b'0.2', b'Iris-setosa',
        43.58017329059761],
       [b'4.6', b'3.2', b'1.4', b'0.2', b'Iris-setosa',
        31.022180256648003],
       [b'5.3', b'3.7', b'1.5', b'0.2', b'Iris-setosa',
        44.123668819668644],
       [b'5.0', b'3.3', b'1.4', b'0.2', b'Iris-setosa',
        36.65191429188092],
       [b'7.0', b'3.2', b'4.7', b'1.4', b'Iris-versicolor',
        241.16959604057647],
       [b'6.4', b'3.2', b'4.5', b'1.5', b'Iris-versicolor',
        193.01945263655693],
       [b'6.9', b'3.1', b'4.9', b'1.5', b'Iris-versicolor',
        244.29966952110314],
       [b'5.5', b'2.3', b'4.0', b'1.3', b'Iris-versicolor',
        126.71090369478833],
       [b'6.5', b'2.8', b'4.6', b'1.5', b'Iris-versicolor',
        203.52284407505874],
       [b'5.7', b'2.8', b'4.5', b'1.3', b'Iris-versicolor',
        153.10551797269858],
       [b'6.3', b'3.3', b'4.7', b'1.6', b'Iris-versicolor',
        195.34737279286693],
       [b'4.9', b'2.4', b'3.3', b'1.0', b'Iris-versicolor',
        82.97260357396004],
       [b'6.6', b'2.9', b'4.6', b'1.3', b'Iris-versicolor',
        209.8332565185694],
       [b'5.2', b'2.7', b'3.9', b'1.4', b'Iris-versicolor',
        110.43326495898843],
       [b'5.0', b'2.0', b'3.5', b'1.0', b'Iris-versicolor',
        91.62978572970229],
       [b'5.9', b'3.0', b'4.2', b'1.5', b'Iris-versicolor',
        153.102376380045],
       [b'6.0', b'2.2', b'4.0', b'1.0', b'Iris-versicolor',
        150.79644737231007],
       [b'6.1', b'2.9', b'4.7', b'1.4', b'Iris-versicolor',
        183.14123813611934],
       [b'5.6', b'2.9', b'3.6', b'1.3', b'Iris-versicolor',
        118.22441473989107],
       [b'6.7', b'3.1', b'4.4', b'1.4', b'Iris-versicolor',
        206.83827152214724],
       [b'5.6', b'3.0', b'4.5', b'1.5', b'Iris-versicolor',
        147.78051842486386],
       [b'5.8', b'2.7', b'4.1', b'1.0', b'Iris-versicolor',
        144.43367505123953],
       [b'6.2', b'2.2', b'4.5', b'1.5', b'Iris-versicolor',
        181.1442324059875],
       [b'5.6', b'2.5', b'3.9', b'1.1', b'Iris-versicolor',
        128.07644930154868],
       [b'5.9', b'3.2', b'4.8', b'1.8', b'Iris-versicolor',
        174.97414443433715],
       [b'6.1', b'2.8', b'4.0', b'1.3', b'Iris-versicolor',
        155.86488352010159],
       [b'6.3', b'2.5', b'4.9', b'1.5', b'Iris-versicolor',
        203.66002695426553],
       [b'6.1', b'2.8', b'4.7', b'1.2', b'Iris-versicolor',
        183.14123813611934],
       [b'6.4', b'2.9', b'4.3', b'1.3', b'Iris-versicolor',
        184.4408102971544],
       [b'6.6', b'3.0', b'4.4', b'1.4', b'Iris-versicolor',
        200.71007145254472],
       [b'6.8', b'2.8', b'4.8', b'1.4', b'Iris-versicolor',
        232.42759088318724],
       [b'6.7', b'3.0', b'5.0', b'1.7', b'Iris-versicolor',
        235.04349036607638],
       [b'6.0', b'2.9', b'4.5', b'1.5', b'Iris-versicolor',
        169.64600329384882],
       [b'5.7', b'2.6', b'3.5', b'1.0', b'Iris-versicolor',
        119.08206953432112],
       [b'5.5', b'2.4', b'3.8', b'1.1', b'Iris-versicolor',
        120.3753585100489],
       [b'5.5', b'2.4', b'3.7', b'1.0', b'Iris-versicolor',
        117.2075859176792],
       [b'5.8', b'2.7', b'3.9', b'1.2', b'Iris-versicolor',
        137.38812992678882],
       [b'6.0', b'2.7', b'5.1', b'1.6', b'Iris-versicolor',
        192.26547039969532],
       [b'5.4', b'3.0', b'4.5', b'1.5', b'Iris-versicolor',
        137.41326266801755],
       [b'6.0', b'3.4', b'4.5', b'1.6', b'Iris-versicolor',
        169.64600329384882],
       [b'6.7', b'3.1', b'4.7', b'1.5', b'Iris-versicolor',
        220.94088094411177],
       [b'6.3', b'2.3', b'4.4', b'1.3', b'Iris-versicolor',
        182.87839155076904],
       [b'5.6', b'3.0', b'4.1', b'1.3', b'Iris-versicolor',
        134.6444723426537],
       [b'5.5', b'2.5', b'4.0', b'1.3', b'Iris-versicolor',
        126.71090369478833],
       [b'5.5', b'2.6', b'4.4', b'1.2', b'Iris-versicolor',
        139.38199406426716],
       [b'6.1', b'3.0', b'4.6', b'1.4', b'Iris-versicolor',
        179.2446160481168],
       [b'5.8', b'2.6', b'4.0', b'1.2', b'Iris-versicolor',
        140.9109024890142],
       [b'5.0', b'2.3', b'3.3', b'1.0', b'Iris-versicolor',
        86.3937979737193],
       [b'5.6', b'2.7', b'4.2', b'1.3', b'Iris-versicolor',
        137.92848386320625],
       [b'5.7', b'3.0', b'4.2', b'1.2', b'Iris-versicolor',
        142.89848344118533],
       [b'5.7', b'2.9', b'4.2', b'1.3', b'Iris-versicolor',
        142.89848344118533],
       [b'6.2', b'2.9', b'4.3', b'1.3', b'Iris-versicolor',
        173.09337763238804],
       [b'5.1', b'2.5', b'3.0', b'1.1', b'Iris-versicolor',
        81.71282491987051],
       [b'5.7', b'2.8', b'4.1', b'1.3', b'Iris-versicolor',
        139.49613859734757],
       [b'6.3', b'3.3', b'6.0', b'2.5', b'Iris-virginica',
        249.37962484195774],
       [b'5.8', b'2.7', b'5.1', b'1.9', b'Iris-virginica',
        179.66140067349306],
       [b'7.1', b'3.0', b'5.9', b'2.1', b'Iris-virginica',
        311.4564484793409],
       [b'6.3', b'2.9', b'5.6', b'1.8', b'Iris-virginica',
        232.7543165191606],
       [b'6.5', b'3.0', b'5.8', b'2.2', b'Iris-virginica',
        256.61575992072625],
       [b'7.6', b'3.0', b'6.6', b'2.1', b'Iris-virginica',
        399.20846167696214],
       [b'4.9', b'2.5', b'4.5', b'1.7', b'Iris-virginica',
        113.14445941903642],
       [b'7.3', b'2.9', b'6.3', b'1.8', b'Iris-virginica',
        351.57249227058014],
       [b'6.7', b'2.5', b'5.8', b'1.8', b'Iris-virginica',
        272.65044882464855],
       [b'7.2', b'3.6', b'6.1', b'2.5', b'Iris-virginica',
        331.1489984295929],
       [b'6.5', b'3.2', b'5.1', b'2.0', b'Iris-virginica',
        225.64489234408688],
       [b'6.4', b'2.7', b'5.3', b'1.9', b'Iris-virginica',
        227.33402199416705],
       [b'6.8', b'3.0', b'5.5', b'2.1', b'Iris-virginica',
        266.3232812203187],
       [b'5.7', b'2.5', b'5.0', b'2.0', b'Iris-virginica',
        170.1172421918873],
       [b'5.8', b'2.8', b'5.1', b'2.4', b'Iris-virginica',
        179.66140067349306],
       [b'6.4', b'3.2', b'5.3', b'2.3', b'Iris-virginica',
        227.33402199416705],
       [b'6.5', b'3.0', b'5.5', b'1.8', b'Iris-virginica',
        243.34253095930936],
       [b'7.7', b'3.8', b'6.7', b'2.2', b'Iris-virginica',
        415.99189682999014],
       [b'7.7', b'2.6', b'6.9', b'2.3', b'Iris-virginica',
        428.4095653920794],
       [b'6.0', b'2.2', b'5.0', b'1.5', b'Iris-virginica',
        188.4955592153876],
       [b'6.9', b'3.2', b'5.7', b'2.3', b'Iris-virginica',
        284.1853298510792],
       [b'5.6', b'2.8', b'4.9', b'2.0', b'Iris-virginica',
        160.91656450707399],
       [b'7.7', b'2.8', b'6.7', b'2.0', b'Iris-virginica',
        415.99189682999014],
       [b'6.3', b'2.7', b'4.9', b'1.8', b'Iris-virginica',
        203.66002695426553],
       [b'6.7', b'3.3', b'5.7', b'2.1', b'Iris-virginica',
        267.94957901732704],
       [b'7.2', b'3.2', b'6.0', b'1.8', b'Iris-virginica',
        325.7203263241898],
       [b'6.2', b'2.8', b'4.8', b'1.8', b'Iris-virginica',
        193.22051456638667],
       [b'6.1', b'3.0', b'4.9', b'1.8', b'Iris-virginica',
        190.93448231212446],
       [b'6.4', b'2.8', b'5.6', b'2.1', b'Iris-virginica',
        240.20198550327083],
       [b'7.2', b'3.0', b'5.8', b'1.6', b'Iris-virginica',
        314.86298211338345],
       [b'7.4', b'2.8', b'6.1', b'1.9', b'Iris-virginica',
        349.8016812115067],
       [b'7.9', b'3.8', b'6.4', b'2.0', b'Iris-virginica',
        418.27583468914986],
       [b'6.4', b'2.8', b'5.6', b'2.2', b'Iris-virginica',
        240.20198550327083],
       [b'6.3', b'2.8', b'5.1', b'1.5', b'Iris-virginica',
        211.97268111566407],
       [b'6.1', b'2.6', b'5.6', b'1.4', b'Iris-virginica',
        218.2108369281422],
       [b'7.7', b'3.0', b'6.1', b'2.3', b'Iris-virginica',
        378.73889114372236],
       [b'6.3', b'3.4', b'5.6', b'2.4', b'Iris-virginica',
        232.7543165191606],
       [b'6.4', b'3.1', b'5.5', b'1.8', b'Iris-virginica',
        235.91266433356955],
       [b'6.0', b'3.0', b'4.8', b'1.8', b'Iris-virginica',
        180.95573684677208],
       [b'6.9', b'3.1', b'5.4', b'2.1', b'Iris-virginica',
        269.22820722733815],
       [b'6.7', b'3.1', b'5.6', b'2.4', b'Iris-virginica',
        263.24870921000553],
       [b'6.9', b'3.1', b'5.1', b'2.3', b'Iris-virginica',
        254.27108460359707],
       [b'5.8', b'2.7', b'5.1', b'1.9', b'Iris-virginica',
        179.66140067349306],
       [b'6.8', b'3.2', b'5.9', b'2.3', b'Iris-virginica',
        285.692247127251],
       [b'6.7', b'3.3', b'5.7', b'2.5', b'Iris-virginica',
        267.94957901732704],
       [b'6.7', b'3.0', b'5.2', b'2.3', b'Iris-virginica',
        244.4452299807194],
       [b'6.3', b'2.5', b'5.0', b'1.9', b'Iris-virginica',
        207.8163540349648],
       [b'6.5', b'3.0', b'5.2', b'2.0', b'Iris-virginica',
        230.0693019978925],
       [b'6.2', b'3.4', b'5.4', b'2.3', b'Iris-virginica',
        217.373078887185],
       [b'5.9', b'3.0', b'5.1', b'1.8', b'Iris-virginica',
        185.9100284614832]], dtype=object)

In [77]:
# Import iris keeping the text column intact
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')

# Solution
# Get the species column
species = iris[:, 4]

# Approach 1: Generate Probablistically
np.random.seed(100)
a = np.array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'])
species_out = np.random.choice(a, 150, p=[0.5, 0.25, 0.25])
print(np.unique(species_out, return_counts=True))

(array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype='<U15'), array([77, 37, 36], dtype=int64))

In [78]:

# Approach 2: Probablistic Sampling (preferred)
np.random.seed(100)
probs = np.r_[np.linspace(0, 0.500, num=50), np.linspace(0.501, .750, num=50), np.linspace(.751, 1.0, num=50)]
index = np.searchsorted(probs, np.random.random(150))
species_out = species[index]
print(np.unique(species_out, return_counts=True))

(array([b'Iris-setosa', b'Iris-versicolor', b'Iris-virginica'],
      dtype=object), array([77, 37, 36], dtype=int64))

In [83]:
iris_p_len = iris[iris[:,4]==b'Iris-setosa',[2]].astype('float')
iris_p_len

array([1.4, 1.4, 1.3, 1.5, 1.4, 1.7, 1.4, 1.5, 1.4, 1.5, 1.5, 1.6, 1.4,
       1.1, 1.2, 1.5, 1.3, 1.4, 1.7, 1.5, 1.7, 1.5, 1. , 1.7, 1.9, 1.6,
       1.6, 1.5, 1.4, 1.6, 1.6, 1.5, 1.5, 1.4, 1.5, 1.2, 1.3, 1.5, 1.3,
       1.5, 1.3, 1.3, 1.3, 1.6, 1.9, 1.4, 1.6, 1.4, 1.5, 1.4])

In [84]:
print(iris[iris[:,0].argsort()][:20])

[[b'4.3' b'3.0' b'1.1' b'0.1' b'Iris-setosa']
 [b'4.4' b'3.2' b'1.3' b'0.2' b'Iris-setosa']
 [b'4.4' b'3.0' b'1.3' b'0.2' b'Iris-setosa']
 [b'4.4' b'2.9' b'1.4' b'0.2' b'Iris-setosa']
 [b'4.5' b'2.3' b'1.3' b'0.3' b'Iris-setosa']
 [b'4.6' b'3.6' b'1.0' b'0.2' b'Iris-setosa']
 [b'4.6' b'3.1' b'1.5' b'0.2' b'Iris-setosa']
 [b'4.6' b'3.4' b'1.4' b'0.3' b'Iris-setosa']
 [b'4.6' b'3.2' b'1.4' b'0.2' b'Iris-setosa']
 [b'4.7' b'3.2' b'1.3' b'0.2' b'Iris-setosa']
 [b'4.7' b'3.2' b'1.6' b'0.2' b'Iris-setosa']
 [b'4.8' b'3.0' b'1.4' b'0.1' b'Iris-setosa']
 [b'4.8' b'3.0' b'1.4' b'0.3' b'Iris-setosa']
 [b'4.8' b'3.4' b'1.9' b'0.2' b'Iris-setosa']
 [b'4.8' b'3.4' b'1.6' b'0.2' b'Iris-setosa']
 [b'4.8' b'3.1' b'1.6' b'0.2' b'Iris-setosa']
 [b'4.9' b'2.4' b'3.3' b'1.0' b'Iris-versicolor']
 [b'4.9' b'2.5' b'4.5' b'1.7' b'Iris-virginica']
 [b'4.9' b'3.1' b'1.5' b'0.1' b'Iris-setosa']
 [b'4.9' b'3.1' b'1.5' b'0.1' b'Iris-setosa']]

In [89]:
vals,counts = np.unique(iris[:,2],return_counts=True)
print(vals,counts)
print(vals[np.argmax(counts)])

[b'1.0' b'1.1' b'1.2' b'1.3' b'1.4' b'1.5' b'1.6' b'1.7' b'1.9' b'3.0'
 b'3.3' b'3.5' b'3.6' b'3.7' b'3.8' b'3.9' b'4.0' b'4.1' b'4.2' b'4.3'
 b'4.4' b'4.5' b'4.6' b'4.7' b'4.8' b'4.9' b'5.0' b'5.1' b'5.2' b'5.3'
 b'5.4' b'5.5' b'5.6' b'5.7' b'5.8' b'5.9' b'6.0' b'6.1' b'6.3' b'6.4'
 b'6.6' b'6.7' b'6.9'] [ 1  1  2  7 12 14  7  4  2  1  2  2  1  1  1  3  5  3  4  2  4  8  3  5
  4  5  4  8  2  2  2  3  6  3  3  2  2  3  1  1  1  2  1]
b'1.5'

In [92]:
np.argwhere(iris[:,3].astype('float')>1.0)[0]

array([50], dtype=int64)

In [98]:
a = np.random.uniform(1,50, 20)
print(a)
np.clip(a, a_min=10, a_max=30)

[30.65048974 28.40164688 43.15931535 46.0680126  42.63075896 13.46886024
 44.00022157 22.32137931 36.74522285 21.21939761 10.35096624 35.59495648
 12.79100823 42.71489691 41.38101217 26.73537754 19.93069892 29.95315875
  7.73865713 40.60524999]

array([30.        , 28.40164688, 30.        , 30.        , 30.        ,
       13.46886024, 30.        , 22.32137931, 30.        , 21.21939761,
       10.35096624, 30.        , 12.79100823, 30.        , 30.        ,
       26.73537754, 19.93069892, 29.95315875, 10.        , 30.        ])

In [103]:
a[a.argsort()][-5:]

array([42.63075896, 42.71489691, 43.15931535, 44.00022157, 46.0680126 ])

In [108]:
print(a.argsort())

[18 10 12  5 16  9  7 15  1 17  0 11  8 19 14  4 13  2  6  3]

In [113]:
arr = np.random.randint(1,11,size=(6, 10))
def counts_of_all_values_rowwise(arr2d):
    # Unique values and its counts row wise
    num_counts_array = [np.unique(row, return_counts=True) for row in arr2d]

    # Counts of all values row wise
    return([[int(b[a==i]) if i in a else 0 for i in np.unique(arr2d)] for a, b in num_counts_array])

# Print
print(np.arange(1,11))
counts_of_all_values_rowwise(arr)

[ 1  2  3  4  5  6  7  8  9 10]

C:\Users\mukes\AppData\Local\Temp\ipykernel_8804\2547585372.py:7: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  return([[int(b[a==i]) if i in a else 0 for i in np.unique(arr2d)] for a, b in num_counts_array])

[[0, 0, 2, 1, 1, 0, 2, 2, 0, 2],
 [2, 1, 1, 2, 2, 1, 0, 0, 1, 0],
 [0, 1, 2, 2, 1, 0, 2, 1, 1, 0],
 [1, 0, 1, 2, 1, 0, 2, 2, 0, 1],
 [2, 2, 0, 2, 1, 1, 1, 0, 1, 0],
 [3, 0, 1, 0, 0, 0, 2, 1, 2, 1]]

In [114]:
arr = np.array([np.array(list('bill clinton')), np.array(list('narendramodi')), np.array(list('jjayalalitha'))])
print(np.unique(arr))
counts_of_all_values_rowwise(arr)

[' ' 'a' 'b' 'c' 'd' 'e' 'h' 'i' 'j' 'l' 'm' 'n' 'o' 'r' 't' 'y']

C:\Users\mukes\AppData\Local\Temp\ipykernel_8804\2547585372.py:7: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  return([[int(b[a==i]) if i in a else 0 for i in np.unique(arr2d)] for a, b in num_counts_array])

[[1, 0, 1, 1, 0, 0, 0, 2, 0, 3, 0, 2, 1, 0, 1, 0],
 [0, 2, 0, 0, 2, 1, 0, 1, 0, 0, 1, 2, 1, 2, 0, 0],
 [0, 4, 0, 0, 0, 0, 1, 1, 2, 2, 0, 0, 0, 0, 1, 1]]

In [115]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
species = np.genfromtxt(url, delimiter=',', dtype='str', usecols=4)
np.random.seed(100)
species_small = np.sort(np.random.choice(species, size=20))
species_small

output = []
uniqs = np.unique(species_small)

for val in uniqs:  # uniq values in group
    for s in species_small[species_small==val]:  # each element in group
        groupid = np.argwhere(uniqs == s).tolist()[0][0]  # groupid
        output.append(groupid)

print(output)

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2]

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [4]:
df.isna().sum()

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags               38
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

In [8]:
d = {'Min.Price': np.nanmean, 'Max.Price': np.nanmedian}
df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x, d: x.fillna(d[x.name](x)), args=(d, ))

In [9]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution
type(df[['a']])
type(df.loc[:, ['a']])
type(df.iloc[:, [0]])

pandas.core.frame.DataFrame

In [10]:
# Input
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

# Solution 1: Rounding
df.round(4)

# Solution 2: Use apply to change format
df.apply(lambda x: '%.4f' % x, axis=1)
# or
df.applymap(lambda x: '%.4f' % x)

# Solution 3: Use set_option
pd.set_option('display.float_format', lambda x: '%.4f' % x)

# Solution 4: Assign display.float_format
pd.options.display.float_format = '{:.4f}'.format
print(df)

# Reset/undo float formatting
pd.options.display.float_format = None

   random
0  0.0001
1  0.9469
2  0.1485
3  0.0000

C:\Users\mukes\AppData\Local\Temp\ipykernel_12016\2662863825.py:8: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df.apply(lambda x: '%.4f' % x, axis=1)

In [13]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

In [14]:
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df.Manufacturer + '_' + df.Model + '_' + df.Type
print(df.index.is_unique)

True

In [15]:
df

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
Acura_Integra_Small,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,NaN,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
missing_Legend_Midsize,missing,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
Audi_90_Compact,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
Audi_100_Midsize,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
BMW_535i_Midsize,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen_Eurovan_Van,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,NaN,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
Volkswagen_Passat_Compact,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,NaN,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
Volkswagen_Corrado_Sporty,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,NaN,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
Volvo_240_Compact,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
missing_850_Midsize,missing,850,Midsize,24.8,26.7,28.5,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

In [17]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

# Solution
n = 5
df['a'].argsort()[::-1][n]

9

In [18]:
df.iloc[::-1, :]

    a   b   c
9  23  29  15
8  26  24  25
7  23  19  15
6   1   8   7
5  24  19  20
4   5  21  21
3  27  29  20
2  26   9  19
1   9  27  22
0  18  26  29

In [23]:
print(df)
df.apply(np.argmax, axis=1).value_counts()

    a   b   c
0  18  26  29
1   9  27  22
2  26   9  19
3  27  29  20
4   5  21  21
5  24  19  20
6   1   8   7
7  23  19  15
8  26  24  25
9  23  29  15

1    5
0    4
2    1
Name: count, dtype: int64

In [8]:
# Input
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))
print(df)

# Solution
abs_corrmat = np.abs(df.corr())
print(abs_corrmat)
max_corr = abs_corrmat.apply(lambda x: sorted(x)[-2])
print(max_corr)
print('Maximum Correlation possible for each column: ', np.round(max_corr.tolist(), 2))

    p   q   r   s   t   u   v   w   x   y
a  26  69  38  97  44  50  15  95  15  89
b  61  23  14   8  85  46  93  17   8  50
c  28  52  77  18  35  70  70  51  30  50
d  17  23   5  98  99  89  26  36  85  65
e  26  72  37  80  14  49   6  11  31  46
f  84  13  43  50  88  21  55  29  38  26
g  29  68  94  81  95  27  36  62  23  62
h  31  16  20  25  59  30  62  50  47  20
          p         q         r         s         t         u         v  \
p  1.000000  0.539748  0.077715  0.458840  0.347320  0.575046  0.530565
q  0.539748  1.000000  0.581979  0.483458  0.554653  0.064939  0.606103
r  0.077715  0.581979  1.000000  0.020461  0.120224  0.290453  0.043843
s  0.458840  0.483458  0.020461  1.000000  0.039857  0.219119  0.923745
t  0.347320  0.554653  0.120224  0.039857  1.000000  0.107305  0.311199
u  0.575046  0.064939  0.290453  0.219119  0.107305  1.000000  0.170194
v  0.530565  0.606103  0.043843  0.923745  0.311199  0.170194  1.000000
w  0.380354  0.383408  0.352072  0.338920  0.042072  0.030529  0.252809
x  0.309958  0.432942  0.402062  0.325172  0.298888  0.499309  0.256912
y  0.497582  0.615402  0.122273  0.621764  0.023933  0.462519  0.473033

          w         x         y
p  0.380354  0.309958  0.497582
q  0.383408  0.432942  0.615402
r  0.352072  0.402062  0.122273
s  0.338920  0.325172  0.621764
t  0.042072  0.298888  0.023933
u  0.030529  0.499309  0.462519
v  0.252809  0.256912  0.473033
w  1.000000  0.173899  0.577131
x  0.173899  1.000000  0.160471
y  0.577131  0.160471  1.000000
p    0.575046
q    0.615402
r    0.581979
s    0.923745
t    0.554653
u    0.575046
v    0.923745
w    0.577131
x    0.499309
y    0.621764
dtype: float64
Maximum Correlation possible for each column:  [0.58 0.62 0.58 0.92 0.55 0.58 0.92 0.58 0.5  0.62]

In [11]:
min_max = df.apply(lambda x: np.min(x)/np.max(x), axis= 1)
min_max

a    0.154639
b    0.086022
c    0.233766
d    0.050505
e    0.075000
f    0.147727
g    0.242105
h    0.258065
dtype: float64

In [26]:
out = df.apply(lambda x: x.sort_values().unique()[-1], axis =1)
print(df)
print(out)

    p   q   r   s   t   u   v   w   x   y
a  26  69  38  97  44  50  15  95  15  89
b  61  23  14   8  85  46  93  17   8  50
c  28  52  77  18  35  70  70  51  30  50
d  17  23   5  98  99  89  26  36  85  65
e  26  72  37  80  14  49   6  11  31  46
f  84  13  43  50  88  21  55  29  38  26
g  29  68  94  81  95  27  36  62  23  62
h  31  16  20  25  59  30  62  50  47  20
a    97
b    93
c    77
d    99
e    80
f    88
g    95
h    62
dtype: int32

In [27]:
# Solution Q1
out1 = df.apply(lambda x: ((x - x.mean())/x.std()).round(2))
print('Solution Q1\n',out1)

# Solution Q2
out2 = df.apply(lambda x: ((x.max() - x)/(x.max() - x.min())).round(2))
print('Solution Q2\n', out2)

Solution Q1
       p     q     r     s     t     u     v     w     x     y
a -0.52  1.05 -0.10  1.09 -0.66  0.10 -1.02  1.89 -0.82  1.73
b  1.02 -0.74 -0.88 -1.34  0.64 -0.08  1.60 -0.99 -1.12 -0.05
c -0.43  0.39  1.17 -1.07 -0.95  0.97  0.83  0.26 -0.19 -0.05
d -0.91 -0.74 -1.17  1.12  1.08  1.80 -0.65 -0.29  2.12  0.64
e -0.52  1.16 -0.13  0.62 -1.61  0.05 -1.33 -1.22 -0.15 -0.23
f  2.04 -1.13  0.07 -0.19  0.73 -1.17  0.32 -0.55  0.14 -1.14
g -0.39  1.01  1.73  0.65  0.96 -0.91 -0.32  0.67 -0.49  0.50
h -0.30 -1.01 -0.68 -0.88 -0.19 -0.78  0.56  0.23  0.52 -1.41
Solution Q2
       p     q     r     s     t     u     v     w     x     y
a  0.87  0.05  0.63  0.01  0.65  0.57  0.90  0.00  0.91  0.00
b  0.34  0.83  0.90  1.00  0.16  0.63  0.00  0.93  1.00  0.57
c  0.84  0.34  0.19  0.89  0.75  0.28  0.26  0.52  0.71  0.57
d  1.00  0.83  1.00  0.00  0.00  0.00  0.77  0.70  0.00  0.35
e  0.87  0.00  0.64  0.20  1.00  0.59  1.00  1.00  0.70  0.62
f  0.00  1.00  0.57  0.53  0.13  1.00  0.44  0.79  0.61  0.91
g  0.82  0.07  0.00  0.19  0.05  0.91  0.66  0.39  0.81  0.39
h  0.79  0.95  0.83  0.81  0.47  0.87  0.36  0.54  0.49  1.00

In [29]:
for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0
df

    p   q   r   s   t   u   v   w   x   y
a   0  69  38  97  44  50  15   0  15  89
b  61   0  14   8  85  46   0  17   8  50
c  28  52   0  18  35   0  70  51  30  50
d  17  23   5   0   0  89  26  36  85  65
e  26  72  37   0   0  49   6  11  31  46
f  84  13   0  50  88   0  55  29  38  26
g  29   0  94  81  95  27   0  62  23  62
h   0  16  20  25  59  30  62   0  47  20

In [31]:
# Input
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'taste': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

print(df)

# Solution
df_grpd = df['taste'].groupby(df.fruit)
df_grpd.get_group('banana').sort_values().iloc[-3]

    fruit     taste  price
0   apple  0.986164     10
1  banana  0.477163      1
2  orange  0.696771     11
3   apple  0.290113      8
4  banana  0.381137     12
5  orange  0.159026     10
6   apple  0.023130      5
7  banana  0.968245      7
8  orange  0.474017      0

0.38113748883082865